<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://ota.antinc.cn/app/0_1_0_1/genesis.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.antinc.genesis.inhouse</string>
                <key>bundle-version</key>
                <string>0.1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>genesis v0.1.0.1 (Dev, 22cc15)</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
