<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <span class="divtitle">Data Table</span><br><br>
        <a class="option" href="/manageDataTable/upload">Upload DataTable</a><br><br>
        <a class="option" href="/manageDataTable/view">View DataTable</a><br><br>
    </div>
    <br>
    <div>
        <span class="divtitle">Game Configs</span><br><br>
        <a class="option" href="/gameconfigs">Manage Game Configs</a><br><br>
        <a class="option" href="/localNotifications/manage">Manage Local Notifications</a><br><br>
        <a class="option" href="/manage/resource/version">Manage Resource Version</a><br><br>
    </div>
    <br>
    <div>
        <span class="divtitle">BE Tools</span><br><br>
        <a class="option" href="/admin/">Manage Users</a><br><br>
        <a class="option" href="/beTools/redis">Redis Tools</a><br><br>
        <a class="option" href="/beTools/serverList/manage">Server List Manager</a><br><br>
        <a class="option" href="/mails/view">Mail Manager</a><br><br>
    </div>
    <br>
    <div>
        <span class="divtitle">Log Tools</span><br><br>
        <a class="option" href="/Log/client/performance">Client Performance Log</a><br><br>
        <a class="option" href="/Log/client/error">Client Error Log</a><br><br>
        <a class="option" href="/Log/server/error">Server Error Log</a><br><br>
        <a class="option" href="/Log/BI">BI Log</a><br><br>
        <a class="option" href="/online/player/count">online player count</a><br><br>
    </div>
</body>
</html>